*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 1200px;
  margin: auto;
  margin-top: 30px;
}

ul{
  background-color: lightgrey;
  display: flex;
  flex-wrap: wrap;
}

ul li{
  width: 120px;
  height: 120px;
  padding: 5px;
  border: 1px solid black;
  list-style: none;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.title-container{
  margin: auto;
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.next:hover{
  cursor:pointer;
}

.fas:hover{
  cursor: pointer;
}

.nome-festivita{
  color: red;
}

.replace{
  display: none;
}
